<!DOCTYPE html>
{% extends 'repositories_app/repository.html' %}
    {% block show_block %}
     <div class="card border-dark" style="margin-top:30px" >
        <div class="card-header" >Branch name: {{ branch.name }}</div>
        {% if commits %}
            {% for commit in commits %}
            <hr style="margin-botoom:0px;margin-top:0px">
                <div class="card-body" style="margin-top:0px">
                    <h5 class="card-title">{{commit.name}}</h5>
                    {%if commit.description%}
                        <p class="card-text" style="margin-top:1px">{{commit.description}}</p>
                    {%endif%}
                    <footer class="blockquote-footer">Name and surname <cite title="Source Title">authored on {{commit.date}}</cite></footer>
                </div>
            {% endfor %}
        {%else%}
            <h7 style="margin-top:3%">There are no any commits on this branch.</h7>
        {%endif%}
    </div>         
    {% endblock %}