<!DOCTYPE html>
{% extends 'repositories_app/repository.html' %}
    {% block show_block %}
    <div class='row' style='margin-top:3%'>
        <div class='col-md-7'>
            <div class='row'>
                <div class='col'>
                    <h1>Branches</h1>
                </div>
                <div class='col'>
                    <a class="btn btn-success" style="float:right;margin-top:2%" href="/repositories/repository/{{repository.id}}/branches/new" role="button">Add new branch</a>
                </div>
            </div>
        <br> 
        {% if error %}
            <div class="alert alert-danger" style='margin-top:3%' role="alert">{{error}}</div>
        {% endif %}

        {% if branches %}
            <table class="table table-striped" style="margin-top: 30px; ">
                <tr>
                    <th>Name</th>
                    <th>Parent branch</th>
                    <th></th>
                    <th>More</th>
                </tr>
                {% for branch in branches %}
                    <tr>
                        <td><a style="color:black" href="/repositories/repository/{{repository.id}}/branches/{{branch.id}}/commits">{{branch.name}}</a></td>
                        <td>{{ branch.parent_branch.name}}</td>
                        {% if branch.default  %}
                            <td>default</td>
                        {%else%}
                            <td></td>
                        {% endif %}
                        <td>    
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/repositories/repository/{{repository.id}}/branches/{{branch.id}}/commits">Commits</a>
                                        <a class="dropdown-item" href="/repositories/repository/{{repository.id}}/branches/edit/{{branch.id}}">Edit</a>
                                        <a class="dropdown-item" href="/repositories/repository/{{repository.id}}/branches/delete/{{branch.id}}">Delete</a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </table>

        {% else %}
            <h3>There are no branches</h3>
        {% endif %}

    </div>
    <div class='col-md-5'>
        {% block column_block %}
        {% endblock %}

    </div>
    </div>

    {% endblock %}