<!DOCTYPE html>
{% extends 'repositories_app/repository.html' %}
    {% block show_block %}
        <h1>Branches</h1>
        <br>
        <a class="btn btn-success" style="float:right" href="/repositories/repository/{{repository.id}}/branches/new" role="button">Add new branch</a>
        <br> 
        {% if branches %}
            <table class="table table-striped" style="margin-top: 30px; width:60% ;margin-left:20%">
                <tr>
                    <th>Name</th>
                    <th>Parent branch</th>
                    <th>More</th>
                </tr>
                {% for branch in branches %}
                    <tr>
                        <td><a style="color:black" href="/repositories/repository/{{repository.id}}/branches/{{branch.id}}">{{branch.name}}</a></td>
                        <td>{{ branch.parent_branch.name}}</td>
                        <td>    
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/repositories/repository/{{repository.id}}/branches/{{branch.id}}">Commits</a>
                                        <a class="dropdown-item" href="/repositories/repository/{{repository.id}}/branches/edit/{{branch.id}}">Edit</a>
                                        <a class="dropdown-item" href="/repositories/repository/{{repository.id}}/branches/branch/delete/{{branch.id}}">Delete</a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </table>

        {% else %}
            <h3>There are no branches</h3>
        {% endif %}

    {% endblock %}