<!DOCTYPE html>
{% extends 'branches_app/main.html' %}
{% load crispy_forms_tags %}
    {% block column_block %}
        <div class="card" style="margin-left:15%">
            <div class="card-body">
                <div class="row">
                    <div class='col-md-2'>
                        <a class="btn btn-secondary" href="/repositories/repository/{{repository.id}}/branches" role="button"><</a>
                    </div>
                    <div class='col'>
                    <h3 class="card-title">
                        {{title}}
                    </h3>
                    </div>
                </div>
                <div class="container" >
                    {% if error_add %}
                        <div class="alert alert-danger" role="alert">{{error_add}}</div>
                    {% endif %}
                    <form method="POST">
                        {{form|crispy}}
                        {% csrf_token %}
                        <input type="submit" class="btn btn-success" value="Submit">
                    </form>
                </div>
            </div>
        </div>
        
    {% endblock %}