<!DOCTYPE html>
{% extends 'repositories_app/repository.html' %}
{% load crispy_forms_tags %}
{% block show_block %}
<br>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-10">
                    <h3 class="card-title">
                        Edit repository
                    </h3>
                </div>
            </div>
            <div class="container">
                <form method="POST">
                    {{form|crispy}}
                    {% csrf_token %}
                        <input type="submit" class="btn btn-success" value="Submit">
                        <a class="btn btn-secondary" href="/repositories/repository/{{repository.id}}" role="button">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}