<!DOCTYPE html>
{% extends 'repositories_app/repository.html' %}
{% load crispy_forms_tags %}
{% block show_block %}
<br>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-10">
                    <h3 class="card-title">
                        Edit repository
                    </h3>
                </div>
                <div class='col-sm-1' style="margin-left:5%">
                    <a href="/repositories/repository/{{repository.id}}"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="container">
                <form method="POST">
                    {{form|crispy}}
                    {% csrf_token %}
                    <div class="row">
                        <input type="submit" class="btn btn-success" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}