<!DOCTYPE html>
{% extends 'repositories_app/repository.html' %}
{% load crispy_forms_tags %}
{% block add_block %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-7">
                    <h3 class="card-title">
                        Member
                    </h3>
                </div>
            </div>
            <div class="container">
                {% if member %}
                
                   Username:  <b>{{member.user.user}}</b>

                {% endif %}
                <form method="POST">
                    {{form|crispy}}
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-9">
                            <input type="submit" class="btn btn-success" value="Submit">
                            <a class="btn btn-secondary" href="/repositories/repository/{{repository.id}}" role="button">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}