<!DOCTYPE html>
{% extends 'myapp/base.html' %}
{% block body_block %}
    <h1>Repositories Page</h1>
    <hr>
    <div class="row">
        <div class="col-md-7">
            {% if repositories %}
            <table class="table table-striped" style="margin-top: 30px">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Public</th>
                </tr>
                {% for repository in repositories %}
                    <tr>
                        <td style="vertical-align: middle;"><a style="color:green" href="/repositories/repository/{{repository.id}}">{{ repository.name }}</a></td>
                        <td style="vertical-align: middle;">{{ repository.description }}</td>
                        <td style="vertical-align: middle;">{{ repository.is_public }}</td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
            <h3>No repositories found!</h3>
            {% endif %}
        </div>
        <div class="col-md-5">
            {% block add_block %}
                <a class="btn btn-success" style="margin-top: 30px;" href="/repositories/add-repository" role="button">Add repository</a>
            {% endblock %} 
        </div>
    </div>

{% endblock %}