<!DOCTYPE html>
{% extends 'myapp/base.html' %}
{% block body_block %}

<h1>{{repository.name}}</h1>
<hr>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a class="nav-link" href="/repositories/repository/{{repository.id}}">About</a></li>
            <li><a class="nav-link" href="#">Branches</a></li>
            <li><a class="nav-link" href="#">Issues</a></li>
            <li><a class="nav-link" href="#">Projects</a></li>
            <li><a class="nav-link" href="#">Wiki</a></li>
            <li><a class="nav-link" href="#">Team</a></li>
        </ul>
    </div>
</nav>
{% block show_block %}
{% endblock %}
<table>
    <tr>
        <th>Description</th>
        <th>Issues</th>
        <th>branches</th>
        <th>Projects</th>
        <th>Wiki</th>
        <th>Teams</th>
    </tr>
    <tr>
        <td>{{repository.description}}</td>
    </tr>
        {% for issue in repository.issues %}
            <tr>
                <td>{{ issue.name }}</td>
                <td>{{ issue.status }}</td>
            </tr>
        {% endfor %}
</table>
{% endblock %}