<!DOCTYPE html>
{% extends 'repositories_app/repository.html' %}
{% block show_block %}
    <h1>Issues Page</h1>
    <hr>
    <div class="row">
        <div class="col-md-2">
            {% if in_repo %}
                <a class="btn btn-primary" href="/repositories/repository/{{repository.id}}/issues/add-issue" role="button">Add issue</a>
            {% endif %}
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary" href="/repositories/repository/{{repository.id}}/issues/labels" role="button">View labels</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary" href="/repositories/repository/{{repository.id}}/issues/milestones" role="button">View milestone</a>
        </div>
    </div>
    <hr>
    {% block issues_body %}
    {% endblock %}
{% endblock %}