<!DOCTYPE html>
{% extends 'issues_app/issues_page.html' %}
{% block issues_body %}
    <div class="row">
        <div class="col-md-7">
            {% if issues %}
            <table>
                <tr>
                    <th>Name</th>
                    <th>Labels</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                {% for issue in issues %}
                    <tr>
                        <td>
                            <a href="/repositories/repository/{{repository.id}}/issues/issue/{{issue.id}}">
                            {{ issue.name }}
                            </a>
                        </td>
                        <td>
                            {% for label in issue.labels %}
                                {{ label.name }},
                            {% endfor %}
                        </td>
                        <td>{{ issue.status }}</td>
                        <td>
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/repositories/repository/{{repository.id}}/issues/change-status-issue/{{issue.id}}">
                                            {% if issue.status == 'Open' %}
                                                Close
                                            {% else %}
                                                Reopen
                                            {% endif %}
                                        </a>
                                        <a class="dropdown-item" href="/repositories/repository/{{repository.id}}/issues/edit-issue/{{issue.id}}">Edit</a>
                                        <a class="dropdown-item" href="/repositories/repository/{{repository.id}}/issues/delete-issue/{{issue.id}}">Delete</a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
            <h3>No issues found!</h3>
            {% endif %}
        </div>
        <div class="col-md-5">
            {% block help_block %}
            {% endblock %}
        </div>
    </div>
{% endblock %}