<!DOCTYPE html>
{% extends 'myapp/base.html' %}
{% block body_block %}
    <h1>Issues Page</h1>
    <hr>
    {% if issues %}
    <table>
        <tr>
            <th>Name</th>
            <th>Labels</th>
            <th>Status</th>
        </tr>
        {% for issue in issues %}
            <tr>
                <td>{{ issue.name }}</td>
                <td>
                    {% for label in issue.labels %}
                        {{ label.name }},
                    {% endfor %}
                </td>
                <td>{{ issue.status }}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
    <h3>No issues found!</h3>
    {% endif %}
{% endblock %}