<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
        <link rel="stylesheet"  href="{%  static  'css/project_app.css'  %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    </head>
    <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

     {% if user.is_authenticated %}
        <a href="{% url 'repositories_app:view_repositories' %}" class="navbar-brand">HOME</a>
         <form class="form-inline my-2 my-lg-0" action="/repositories/search" method="POST">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search_name" name="search_name">
            {% csrf_token %}
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
         </form>
         <div class="navbar-collapse collapse justify-content-stretch" id="navbar7">
            <ul class="navbar-nav ml-auto">            
                <li class="nav-item dropdown" >
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right:50px">
                        {{user.username}}</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width:10px" >
                            <a class="dropdown-item"  href="{% url 'users:edit_profile' %}">Edit profile</a>
                            <a class="dropdown-item"  href="{% url 'users:user_logout' %}">Log out</a>
                        </div>
                </li>
            </ul>
            <div></div>
        </div>
 
        {% else %}
            <a href="/home" class="navbar-brand">HOME</a>
            <form class="form-inline my-2 my-lg-0" action="/repositories/search" method="POST">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search_name" name="search_name">
                {% csrf_token %}
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
            <a href="{% url 'users:register' %}" class="navbar-brand ml-auto">Register</a>
            <a href="{% url 'users:user_login' %}" class="navbar-brand ">Log in</a>
        {% endif %}
    </nav>

        <div class="container">

            {% block body_block %}
            {% endblock %}

        </div>    
    </body>

</html>