<!DOCTYPE html>
{% extends 'myapp/base.html' %}
    {% block body_block %}
        <h1>Wiki page</h1>
        <div class="row">
            <div class="col-md-3">
                {% if pages %}
            <ul>
                {% for page in pages %}
                <li>
                    <a href="/wiki/page/{{page.id}}">{{page.title}}</a>                    
                </li>
                {% endfor %}
            </ul>
            {% else %}
                There are no pages
            {% endif %}
            <a class="btn btn-success" href="/wiki/page/new" role="button">Add new page</a>
            </div>
            <div class="col-md-9" style="padding: 3%;">
                {% block page_block %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}