<!DOCTYPE html>
{% extends 'repositories_app/repository.html' %}
    {% block show_block %}

    <div class="row">
        <div class="col">
            <h1>Wiki page</h1>
        </div>
        <div class="col">
        {% if role %}
                <a class="btn btn-success" style="float:right;margin-top:2%" href="/repositories/repository/{{repository.id}}/wiki/page/new" role="button">Add new page</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {% if pages %}
                <table class="table table-striped" style="margin-top: 30px; ">
                    <tr>
                        <th>Pages</th>
                    </tr>
                    {% for page in pages %}
                        <tr>
                            <td>
                                <a style="color:green" href="/repositories/repository/{{repository.id}}/wiki/page/{{page.id}}">{{page.title}}</a>                    
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                There are no pages
            {% endif %}
        </div>
        <div class="col-md-9" style="padding: 3%;">
            {% block page_block %}
            {% endblock %}
        </div>
    </div>
    {% endblock %}