<!DOCTYPE html>
{% extends 'repositories_app/repository.html' %}
{% block show_block %}
<div class="row">
    <div class="col">
        <h1>Projects</h1>
    </div>
    <div class="col">
        {% if role %}
            <a class="btn btn-success" style="float:right;margin-top:2%" href="new/" role="button">Add new project</a>
        {% endif %}
    </div>
</div>
<hr>
<div class="container">
    <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#open">Open</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#closed">Closed</a>
    </li>
    </ul>

    <div class="tab-content">
    <div class="tab-pane container active" id="open">
{% if projects %}
    <table class="table table-striped" style="margin-top: 30px">
        <tr>
            <th>Name</th>
            <th>Description</td>
            <th>Status</th>
            <th></th>
        </tr>
        {% for project in projects %}
         {% ifequal project.status "Open" %}
            <tr>
                <td><a style="color:green" href="{{project.id}}">{{project.name}}</a></td>
                <td>{{ project.description }}</td>
                <td>{{ project.status }}</td>
                <td>
                 {% if role %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="close/{{project.id}}">Close</a>
                                <a class="dropdown-item" href="edit/{{project.id}}">Edit</a>
                                <a class="dropdown-item" href="delete/{{project.id}}">Delete</a>
                            </div>
                        </li>
                    </ul>
                 {% endif %}
                </td>
            </tr>
        {% endifequal %}
        {% endfor %}
    </table>
    {% else %}
    <h3>This repository doesn't have any project </h3>
    {% endif %}
    </div>
    <div class="tab-pane container fade" id="closed">
    {% if projects %}
    <table class="table table-striped" style="margin-top: 30px">
        <tr>
            <th>Name</th>
            <th>Description</td>
            <th>Status</th>
            <th></th>
        </tr>
        {% for project in projects %}
        {% ifequal project.status "Closed" %}
            <tr>
                <td><a style="color:black" href="{{project.id}}">{{project.name}}</a></td>
                <td>{{ project.description }}</td>
                <td>{{ project.status }}</td>
                <td>
                    {% if role %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="reopen/{{project.id}}">Reopen</a>
                                <a class="dropdown-item" href="edit/{{project.id}}">Edit</a>
                                <a class="dropdown-item" href="delete/{{project.id}}">Delete</a>
                            </div>
                        </li>
                    </ul>
                    {% endif %}
                </td>
            </tr>
        {% endifequal %}
        {% endfor %}
    </table>
    {% else %}
    <h3>This repository doesn't have any project </h3>
    {% endif %}
    </div>
    </div>

  </div>
    
{% endblock %} 