<!DOCTYPE html>
{% extends 'projects_app/project.html' %}
{% load crispy_forms_tags %}
    {% block column_block %}
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <h3 class="card-title">
                        Column
                    </h3>
                    <a href="/projects/{{project.id}}"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
                <div class="container">
                    <form method="POST">
                        {{form|crispy}}
                        {% csrf_token %}
                        <input type="submit" class="btn btn-success" value="Submit">
                    </form>
                </div>
            </div>
        </div>
        
    {% endblock %}